{% extends 'base.html'%}

{%block title%}Корзина{%endblock%}

{% block script %}
    {%load crispy_forms_tags%}
    {%load static%}
    <script type="text/javascript" src="{% static 'js/basket_univer.js' %}"></script>
{% endblock %}

{%block content%}
    {% if user.is_authenticated %}
        {% if user.univer %}
            <script>
                var courses = JSON.parse('{{ courses | escapejs }}');
            </script>
            <div id="blockCourses"></div>
        {% endif %}
    {% endif %}
{%endblock%}