{% extends 'base.html' %}
{% block script %}
    {% load static %}
    {% load crispy_forms_tags %}
    <script>
        var csrftoken = '{{ csrf_token }}';
    </script>
    <script type="text/javascript" src="{% static 'js/basket_firm.js' %}"></script>
{% endblock %}

{%block title%}Корзина{%endblock%}
{%block content%}
    {% if user.is_authenticated %}
        {% if user.firm %}
            <script>
                var work_places = JSON.parse('{{ work_places | escapejs }}');
                console.log(work_places)
            </script>
            <div id="blockWorkPlace"></div>
        {% endif %}
    {% endif %}
{%endblock%}