{% extends 'base.html' %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    {% load static %}
    {% load crispy_forms_tags %}
    <script type="text/javascript" src="{% static 'js/personal_area_profile.js' %}"></script> 
{% endblock %}
{%block title%}Main zone{%endblock%}
{%block content%}
    {% if user.is_authenticated %}
        {% if user.profile %}

            <div class="row">
                <div class="col-3">
                    <form action="{% url 'personal_area_profile' %}" method='post'>{% csrf_token %}
                        {{ form|crispy }}
                        <input type="submit">
                    </form>
                </div>
                <div class="col">
                    <div class="row" id="chart_div">
                        <canvas id="myChart"></canvas>
                    </div>
                    <!-- <div class="row border border-primary", id="block_user_workplace">
                        {% comment %} <div> {% endcomment %}
                            <div class="col">
                                <text>Название рабочего места </text>
                            </div>
                            <div class="col">
                                <p class="text-right">10000 - 15000</p>
                            </div>
                            <div class="w-100"></div>
                            <div class="col">
                                Профессия
                            </div>
                            <div class="col">
                                <p class="text-right">Процент совпадения: 75%</p>
                            </div>
                        {% comment %} </div> {% endcomment %}
                    </div> -->
                </div>
            </div>
        {% else %}
            {% if user.firm %}
                <a href="accounts/login/">login as profile</a>
            {% else %}
                <a href="accounts/login/">login</a>
            {% endif %}
        {% endif %}
    {% endif %}

{%endblock%}