{% extends 'base.html' %}
{% block script %}
    {% load static %}
    {% load crispy_forms_tags %}
{% endblock %}

{%block title%}Корзина{%endblock%}
{%block content%}
    {% if user.is_authenticated %}
        {% if user.profile %}
            <script>
                // var info = JSON.parse('{{ info | escapejs }}');
                // var tabl2 = JSON.parse('{{ tabl2 | escapejs }}');
                var tabl1 = JSON.parse('{{ tabl1 | escapejs }}');
            </script>
            <div class="row justify-content-center">
                <div class="col-auto">
                    <table class="table table-responsive border border-primary mt-1">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">ФИО</th>
                                <th scope="col">Обр. программа</th>
                                <th scope="col">Вакансия</th>
                                <th scope="col">Лайк от пользователя</th>
                                <th scope="col">Лайк от фирмы</th>
                                <th scope="col">Взаимный лайк</th>
                                <th scope="col">Компания</th>
                                <th scope="col">Прирост кол-ва рабочих мест</th>
                            </tr>
                            </thead>
                            <tbody id="tabl1">  <tbody>
        
                            </tbody>
                    </table>

                    <table class="table table-responsive border border-primary mt-1">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ФИО</th>
                            <th scope="col">Пол</th>
                            <th scope="col">Город</th>
                            <th scope="col">Возраст</th>

                            <th scope="col">Базовое образование</th>
                            <th scope="col">Опыт работы</th>
                            <th scope="col">Компетенции</th>
                            <th scope="col">Желаемая работа</th>
                            <th scope="col">Какие вакансии лайкнул</th>
                            <th scope="col">Какие вакансии его лайкнули</th>
                            <th scope="col">Взаимные лайки</th>
                            <th scope="col">Скольким вакансиям соответствует до обучения</th>
                            <th scope="col">Скольким вакансиям соответствует после обучения</th>
                        </tr>
                        </thead>
                        <tbody id="tabl2">  <tbody>
    
                        </tbody>
                    </table>
                </div>
            </div>
            {% comment %} <div id="blockWorkPlace"></div> {% endcomment %}
        {% endif %}
    {% endif %}
    <script type="text/javascript" src="{% static 'js/personal_area_univer.js' %}"></script>
{%endblock%}