{% extends 'base.html'%}

{%block title%}Регистрация{%endblock%}

{% block script %}
    {%load crispy_forms_tags%}
    {%load static%}
    {% comment %} <link rel="stylesheet" href="{% static 'css/registration_profile.css' %}"> {% endcomment %}
{% endblock %}

{%block content%}
    <div class
            <form action="{% url 'registration_profile_form' %}" method="post">{% csrf_token %}
                {{form|crispy}}
                <input type="submit">
            </form>

{%endblock%}

                {% comment %} <div class="main_center_center">
                    <div class="main_center_center_left">
                        <input type="text" placeholder="Фамилия" name="user_name1">
                        <input type="text" placeholder="Имя" name="user_name2">
                        <input type="text" placeholder="Отчесво" name="user_name3">
                        <input type="email" placeholder="Email" name="user_email">
                        <input type="number" placeholder="Номер Телефона" name="user_phone">
                        <input type="text" placeholder="Город проживания" name="user_city">
                        <input type="password" placeholder="Пароль" name="user_password">
                        <input type="password" placeholder="Пароль ещё раз" name="user_password_repeat">
                    </div>
                    <div class="main_center_center_right">
                        <div class="user_avatar"></div>
                        <input class="user_description" type="text"></input>
                    </div>
                </div> {% endcomment %}