h1 {
    font-family: Tahoma, serif;
    font-size: 14px;
    color: orange;
}

body{
    padding-top: 60px;
}

.block {
    padding: 10px;
    width: 100px;
    height: 100px;
    float: left;
    margin: 10px;
    background-color: #e7d7ff;
    box-shadow: 0 0 7px 1px #cb97c6;
    color: rgb(140, 84, 171);
}

.index_form{
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    display: flex;
}

.navbar{ background:#F97300;}
.nav-link , .navbar-brand{ color: #f4f4f4; cursor: pointer;}
.nav-link{ margin-right: 1em !important;}
.nav-link:hover{ background: #f4f4f4; color: #f97300; }
.navbar-collapse{ justify-content: flex-end;}
.navbar-toggler{  background:#fff !important;}